<h1 class="text-center">Lost Pets 😿 </h1>
<div class="container">
  <div class="row">
    <% @pets.each do |pet| %>
      <div class="col-xs-12 col-sm-4">
        <!-- link_to path do -->
        <!-- end  -->
        <%= link_to pet_path(pet) do %>
          <h4><%= pet.species %> lost in <%= pet.location %></h4>
          <p>Was found on <%= pet.date_found.strftime("%b %e, %l:%M %p") %></p>
          <p>Color: <%= pet.color %> | Size: <%= pet.size %></p>
        <% end %>
        <%= link_to "🙈", pet_path(pet), method: :delete, data: {confirm: "Are you sure? Please don't eat dogs" }  %>
      </div>
    <% end %>
  </div>
</div>
<div class="d-flex justify-content-center">
  <%= link_to "Add a new pet", new_pet_path, class: "p-3" %>
</div>